@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    @if (Model != null)
    {
        @foreach (var product in Model)
        {
            <div class="col-3 mb-3">
                <div class="card shadow">
                    <img class="card-img-top" src="@product.Image">
                    <div class="card-body text-center">
                        <a class="text-success" href="#">
                            <h5>@product.Name</h5>
                        </a>
                        <h2 class="text-danger">@product.Cost</h2>
                        <h1 class="text-danger">@product.Description</h1>
                        <a asp-controller="Product" asp-action="Index" asp-route-id="@product.Id" class="btn btn-success" >Подробнее</a>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <h2>Нет товаров для отображения!</h2>
    }
</div>
